.Settings {
    display: flex;
}
.Settings h1 {
    font: var(--Title3);
    position: absolute;
    top: 96rem;
}
.settingsNavWrap {
    height: 100vh;
    width: 448rem;
    background-color: var(--surfaceAppLayer01);
    box-sizing: border-box;
    padding: 0 0 0 96rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.settingsNav {
    display: flex;
    flex-direction: column;
    gap: 32rem;
}
.settingsNav button {
    font: var(--Body1);
    color: var(--textOnDark);
    text-align: left;
}
.settingsNav button:focus {
    font: var(--Title2);
    color: var(--buttonPrimaryButtonFillDefault);
}
.settingsContent {
    padding-top: 240rem;
}