.badge {
    width: fit-content;
    z-index: 2;
    background-color: var(--buttonSecondaryButtonFillDefault);
    color: var(--textOnDark);
    font: var(--Title1);
    line-height: 22rem;
    padding: 5rem 8rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}
.badge[data-bg="light"] {
    background-color: var(--surfaceLabelBg);
    color: var(--textOnLight);
}
.badge[data-bg="dark"] {
    background-color: var(--surfaceAppLayer01);
    color: var(--textOnDark);
}
.badge[data-bg="none"] {
    background-color: transparent;
    color: var(--textOnDark);
}
.badge[data-bg="contrast"] {
    background-color: var(--surfaceAppLayer00);
    color: var(--surfaceLabelBg);
}

.badge[data-iconposition="after"]:after, 
.badge[data-iconposition="before"]:before {
    content: attr(data-icon);
    font-family: '4Moji';
    font-size: 32rem;
    line-height: 22rem;
    font-weight: 400;
    display: block;
}

.badge[data-bg="contrast"][data-iconposition="after"]:after, 
.badge[data-bg="contrast"][data-iconposition="before"]:before {
    color: var(--textOnDark);
}