.App {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.signIn {
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    transition: opacity 300ms var(--animation-ease-in);
}

.App[data-appstate="loading"] .signIn { 
    opacity: 0;
    transition-delay: 0ms;
    transition-duration: 0ms;
}
.App[data-appstate="intro"] .signIn { 
    opacity: 1;
    transition-delay: 500ms;
}