.Rail {
    box-sizing: border-box;
    padding: 64rem 0 64rem 192rem;
    position: relative;
    width: fit-content;
}
.Rail[data-nopadding="true"] {
    box-sizing: border-box;
    padding: 64rem 0;
    position: relative;
}

.Rail[data-bg="true"]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background: transparent url(../../../../public/images/grad2.png) center center no-repeat;
    background-size: cover;
    filter: brightness(0.4)
}
.Rail:has(a:focus):before,
.Rail:has(a:hover):before {
    height: 654rem;
} 
.railTitleWrap {
    position: relative;
}
.Rail:has(a:focus) .railTitleWrap,
.Rail:has(a:hover) .railTitleWrap {
    transform: translate3d(0,32rem,0);
}
.railTitle {
    font: var(--Title2);
    transform: scale(1);
    transform-origin: left bottom
}
.railEmoji {
    font-family: '4moji';
    padding-left: 12rem;
}
.railSubtitle {
    font: var(--Label1);
    transform: scale(1);
    transform-origin: left center
}
.railList {
    margin: 40rem 0 0;
    width: fit-content;
    display: flex;
    gap: 4rem; 
    counter-reset: item-counter;
}

.Rail:has(a:focus) .railList,
.Rail:has(a:hover) .railList {
    transform: translate3d(0,92rem,0);
}

.Rail:has(a:focus) .railTitle,
.Rail:has(a:hover) .railTitle,
.Rail:has(a:focus) .railSubtitle,
.Rail:has(a:hover) .railSubtitle
 {
    transform: scale(1.45)
}

.Rail[data-titlescale="false"]:has(a:focus) .railList,
.Rail[data-titlescale="false"]:has(a:hover) .railList {
    transform: translate3d(0,0,0);
}

.Rail[data-titlescale="false"]:has(a:focus) .railTitle,
.Rail[data-titlescale="false"]:has(a:hover) .railTitle,
.Rail[data-titlescale="false"]:has(a:focus) .railTitleWrap,
.Rail[data-titlescale="false"]:has(a:hover) .railTitleWrap,
.Rail[data-titlescale="false"]:has(a:focus) .railSubtitle,
.Rail[data-titlescale="false"]:has(a:hover) .railSubtitle
 {
    transform: scale(1)
}


@media ( prefers-reduced-motion: reduce ){
    .Rail[data-animate="true"] .railTitle,
    .Rail[data-animate="true"] .railSubtitle {
        transition: all 100ms linear;
    }

}

@media ( prefers-reduced-motion: no-preference ){

    .Rail[data-animate="true"] .railTitle,
    .Rail[data-animate="true"] .railSubtitle,
    .Rail[data-animate="true"] .railTitleWrap,
    .Rail[data-animate="true"] .railList {
        transition-property: all;
        transition-duration: var(--animation-duration-small);
        transition-timing-function: var(--animation-ease-out);    
    }    
}
