.RailItem,
.RailItem a {
    width: 304rem;
    height: 171rem;
    position: relative;
    
}
.RailItem a {
    counter-increment: item-counter;
}

.RailItem[data-size="large"],
.RailItem[data-size="large"] a {
    width: 512rem;
    height: 288rem;
}
.RailItem[data-orientation="34"],
.RailItem[data-orientation="34"] a {
    width: 304rem;
    height: 414rem;
}

.railItemMeta {
    position: absolute;
    left: 0;
    width: 816rem;
    height: 182rem;
    opacity: 0;
    transform: translate3d(0,50rem,0);
}
.RailItem[data-size="small"] .railItemMeta {
    top: 211rem;
}
.RailItem[data-size="large"] .railItemMeta {
    top: 328rem;
}
.RailItem[data-orientation="34"] .railItemMeta {
    top: 454rem;
}
.RailItem[data-active="true"]:focus .railItemMeta,
.RailItem[data-active="true"]:hover .railItemMeta {
    opacity: 1;
    transform: translate3d(0,0,0);
}
.RailItem a {
    text-decoration: none;
    outline: none;
    display: block;
}

.RailItem .railImg {
    position: relative;
    transform: scale(1);
    transform-origin: center center;
    outline: 2rem solid var(--surfaceAppLayer00Opacity0);
    box-shadow: 0 0 0 6rem var(--buttonPrimaryButtonFillDefaultOpacity0);
}
.RailItem a:hover .railImg,
.RailItem a:focus .railImg {
    outline: 2rem solid var(--surfaceAppLayer00);
    box-shadow: 0 0 0 6rem var(--buttonPrimaryButtonFillDefault);
    color: var(--buttonPrimaryButtonFillDefault);
    /* transform: scale(1.066); */
    transform: scale(1.105);
    z-index: 1;
}
.RailItem a:hover + .railItemMeta,
.RailItem a:focus + .railItemMeta {
    opacity: 1;
}

.railItemIcon {
    position: relative;
    z-index: 0;
    width: 304rem;
    height: 171rem;
    color: var(--textOnDark);
    background-color: var(--buttonSecondaryButtonFillDefault);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    transform: scale(1);
    transform-origin: center center;
    outline: 2rem solid var(--surfaceAppLayer00Opacity0);
    box-shadow: 0 0 0 6rem var(--buttonPrimaryButtonFillDefaultOpacity0);
}
.RailItem[data-size="large"] .railItemIcon {
    width: 512rem;
    height: 288rem;
}
.railItemIcon svg {
    width: 80rem;
    height: 80rem;
}
.RailItem[data-size="large"] .railItemIcon svg {
    width: 112rem;
    height: 112rem;
}
.railItemIcon b {
    text-decoration: none;
    font: var(--Label1);
    color: var(--textOnDark);
}
.RailItem a:hover .railItemIcon,
.RailItem a:focus .railItemIcon {
    outline: 2rem solid var(--surfaceAppLayer00);
    box-shadow: 0 0 0 6rem var(--buttonPrimaryButtonFillDefault);
    color: var(--buttonPrimaryButtonFillDefault);
    transform: scale(1.066);
    z-index: 1;
}
.RailItem a:hover .railItemIcon b,
.RailItem a:focus .railItemIcon b {
    color: var(--textOnDark);
}
.RailItem:has(a:focus) ~ .RailItem .railItemIcon {
    z-index: 0;
}

.RailItem[data-animate="true"] .railItemIcon {
    transition: all var(--animation-duration-small) var(--animation-ease-out);    
}

.RailItem[data-top10="true"] a:after {
    content: counter(item-counter);
    color: var(--textOnDark);
    text-shadow: 0 0 8rem rgba(16, 16, 16, 0.70);
    font-family: '4Text';
    font-size: 96rem; 
    font-style: normal;
    font-weight: 600;
    line-height: 70rem;
    position: absolute;
    top: 16rem;
    left: 16rem;
    z-index: 3;
    -webkit-text-stroke: 1rem;
    -webkit-text-stroke-width: 1rem;
    -webkit-text-stroke-color: var(--iconsAndInputsInactive2);
}
.RailItem[data-top10="true"] a:hover:after,
.RailItem[data-top10="true"] a:focus:after {
    color: var(--buttonPrimaryButtonFillDefault);
}
.RailItem progress {
    margin-top: 4rem;
}
.txLogo {
    position: absolute;
    top: 24rem;
    left: 20rem;
    height: 64rem;
    width: fit-content;
    min-width: 48rem;
    z-index: 4;
}
.RailItem:has(.slotContent) img {
    filter: brightness(0.48)
} 
.slotContent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
}
.slotText {
    position: absolute;
    bottom: 0;
    padding: 16rem;
    box-sizing: border-box;
    width: 100%;
}
.slotContent p {
    color: var(--textOnDark);
}
.slotContent p + p {
    font: var(--Label1);
    padding-bottom: 6rem;
}
.RailItem[data-type="searchResult"] {
    height: auto
}
.searchString {
    font: var(--Label1);
    padding-top: 8rem;
    line-height: 32rem;
    display: block
}
.searchString b {
    font-weight: 700;
    color: var(--buttonPrimaryButtonFillDefault);
}

.RailItem[data-focusimg="true"] .railImg {
    height: 171rem;
}

.RailItem[data-focusimg="true"] .railImg > div {
    position: absolute!important;
    height: 171rem;
    top: 0;
    left: 0;
}
.RailItem[data-focusimg="true"] .railImg > div:nth-of-type(1) {
    z-index: 2;
}
.RailItem[data-focusimg="true"]:focus-within .railImg > div:nth-of-type(2),
.RailItem[data-focusimg="true"] a:hover .railImg > div:nth-of-type(2) {
    z-index: 2;
}

@media ( prefers-reduced-motion: reduce ){
    .RailItem[data-animate="true"] .railImg,
    .RailItem[data-animate="true"] .railItemMeta,
    .RailItem[data-animate="true"] .railItemIcon,
    .RailItem[data-animate="true"] a:after {
        transition: all 100ms linear;
    }

}

@media ( prefers-reduced-motion: no-preference ){

    .RailItem[data-animate="true"] .railImg,
    .RailItem[data-animate="true"] .railItemMeta,
    .RailItem[data-animate="true"] .railItemIcon,
    .RailItem[data-animate="true"] a:after {
        transition-property: all;
        transition-duration: var(--animation-duration-small);
        transition-timing-function: var(--animation-ease-out);    
    }    
}

