.Header {
    padding: var(--gridGutter) var(--gridGutter) 0;
    position: relative;
    background-color: var(--surfaceAppLayer00);
}
.Header h1 {
    padding: 32rem 0 16rem;
    position: relative;
}
.Header p {
    padding: 0 0 32rem;
}
.headerContent {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.headerBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: brightness(0.4)
}

@media  screen and (min-width: 1024px ) {
    .Header h1 {
        padding-top: 64rem;
    }
}
