.MyShows {
    position: relative;
}
.logoWrapper {
    position: absolute;
    top: 96rem;
    left: 96rem
}
.header {
    padding-bottom: 47rem;
}
.header h2 {
    font: var(--Title2);
}
.header .emoji {
    font: var(--emoji);
}
.header p {
    font: var(--Body2);
}

.scrollWrapper {
    position: relative;
    width: 100vw;
    box-sizing: border-box;
    padding: 96rem 0 0 192rem;
}

.noDataPanel button {
    margin-top: 32rem;
}
.noDataPanel {
    margin-bottom: 64rem
}
.noDataPanel p {
    max-width: 700rem;
}