.Navigation {
    font: var(--Body1);
    display: flex;
    justify-content: flex-end;
    background-color: rgba(17,17,17,0.75);
    align-items: center;
    width: 100vw;
    padding: var(--gridGutter) var(--gridGutter) var(--gridGutter) calc( var(--gridGutter) + 59rem );
    box-sizing: border-box;
    position: relative;
}
.Navigation a {
    text-decoration: none;
}
.Navigation a:hover,
.Navigation a:focus,
.Navigation button:hover,
.Navigation button:focus {
    text-decoration: none;
    color: var(--buttonPrimaryButtonFillDefault)
}
.logo {
    width: 30rem;
    height: 40rem;
    position: absolute;
    left: var(--gridGutter);
}
.navLinks {
    display: none;
}
.userLinks {
    justify-self: flex-end;
}
.userLinks ul {
    display: flex;
    align-items: center;
    gap: 8rem;
}

.userLinks a,
.userLinks button  {
    display: flex;
    color: var(--textOnDark);
    width: 36rem;
    height: 36rem;
    display: flex;
    justify-content: center;
    align-items: center
}
.userLinks .navIcon {
    width: 24rem;
    height: 24rem;
    
}
.userLinks li[data-ref="upgrade"] {
    display: none;
}

@media screen and ( min-width: 768px ){
    .Navigation {
        padding: 16rem var(--gridGutter) 16rem calc( var(--gridGutter) + 59rem );
    }
    .userLinks li[data-ref="upgrade"] {
        display: block;
    }
    .userLinks li[data-ref="upgrade"] a {
        width: fit-content;
        text-decoration: none;
    }
}
@media screen and ( min-width: 1024px ){
    .Navigation {
        justify-content: space-between;
    }
    .navLinks {
        display: flex;
    }
    .navLinks ul {
        display: flex;
        gap: 20rem;
    }
    .navLinks a {
        display: flex;
        color: var(--textOnDark);
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        gap: 4rem;
    }
    .navLinks .navIcon {
        width: 24rem;
        height: 24rem;
    }
    .userLinks li[data-ref="burger"],
    .userLinks li[data-ref="burger"] a {
        display: block;
    }

}

.dropdownMenu {
    position: absolute;
    top: 68rem;
    right: calc( 36rem + var(--gridGutter) );
    background-color: var(--surfaceAppLayer01);
}
.dropdownMenu a {
    display: block;
    padding: 10rem 16rem;
    color: var(--textOnDark);
    border-top: 1px solid var(--buttonSecondaryButtonFillDefault)
}
.dropdownMenu li:first-of-type a {
    border: 0 none;
}

.burger {
    position: relative;
    cursor: pointer;
}
.burger b {
    display: block;
    width: 18rem;
    background-color: var(--textOnDark);
    height: 2rem;
    position: absolute;
    left: 9rem;
}


.burger b:nth-of-type(1),
.burger b:nth-of-type(4) {
    transform-origin: center 6rem;
    transform: translate3d(0,0,0);
    transition: all 200ms 200ms linear;
    opacity: 1;

}
.burger b:nth-of-type(1) {
    top: 11rem;
}
.burger b:nth-of-type(4) {
    top: 23rem;
}
.burger:hover b:nth-of-type(1) {
    transform: translate3d(0,6rem,0);
    opacity: 0;
    transition: all 200ms 0s linear;
}
.burger:hover b:nth-of-type(4) {
    transform: translate3d(0,-6rem,0);
    opacity: 0;
    transition: all 200ms 0s linear;
} 

.burger b:nth-of-type(2),
.burger b:nth-of-type(3) {
   top: 17rem;
   opacity: 1;
   transform-origin: center center;
   transition: all 350ms linear;
   background-color: var(--textOnDark);
}

.burger:hover b:nth-of-type(2),
.burger:hover b:nth-of-type(3) {
    transition-delay: 200ms;
    background-color: var(--buttonPrimaryButtonFillDefault);
} 
.burger:hover b:nth-of-type(2){
   transform: rotate(45deg);
}

.burger:hover b:nth-of-type(3) {
   transform: rotate(-45deg) ;
}


/* .burger b:nth-of-type(2) {
    top: 17rem;
    opacity: 1;
    animation: 1s burgerCenter ease-in-out both;
    animation-play-state: paused;
    
}
.burger b:nth-of-type(4) {
    top: 23rem;
    transform-origin: center -6rem;
    animation: 1s burgerBottom ease-in-out both;
    animation-play-state: paused;

}

.burger:hover b {
    animation-play-state: running;
    animation-delay: 0s;
    animation-direction: normal;
}

.burger:not(:hover) b {
    animation-direction: reverse;
} */