.Channel4Plus {
    background-color: var(--surfaceAppLayer00);
    height: 100vh;
    width: 100vw;
}
.logoWrapper {
    width: 103rem;
    height: 86rem;
    position: absolute;
    top: 96rem;
    left: 96rem;
}

.Channel4Plus header {
    position: relative;
    padding: 96rem 96rem 24rem 232rem;
}
.Channel4Plus header:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: transparent url(../../../../public/images/c4plus.png) center center no-repeat;
    background-size: cover;
    filter: brightness(0.4)
}
.Channel4Plus header h1 {
    font: var(--Title3);
    margin-bottom: 44rem;
    position: relative;
}
.Channel4Plus header ul {
    display: flex;
    gap: 4rem;
    flex-direction: column;
    position: relative;
}
.Channel4Plus header li {
    font: var(--Body1);
    display: flex;
    align-items: center;
    gap: 12rem;
    text-shadow: var(--textShadow);
}
.Channel4Plus header li b {
    font: var(--Title2)
}
.tick {
    color: var(--buttonPrimaryButtonFillDefault);
    width: 30rem;
    height: 30rem;
    margin-right: 4rem
}
.upgradeContent {
    padding: 0 652rem 0 192rem;
}
.upgradeContent > button {
    margin-bottom: 20rem;
}
.upgradeContent > p {
    font: var(--Label1);
    color: var(--textInactive);
}
.btnWrap {
    margin: 77rem 0 34rem;
    display: flex;
    gap: 16rem;
}
.btnWrap li {
    width: 50%;
    box-sizing: border-box;
    padding: 21rem 26rem 26rem;
    background-color: var(--surfaceAppLayer01);
    transform-origin: center center;
}
.btnWrap li p:first-of-type {
    padding-bottom: 8rem;
}
.btnWrap li p {
    padding-bottom: 32rem;
}
.btnWrap strong {
    font: var(--Title2);
    color: var(--textInactive)
}
.btnWrap b {
    font: var(--Title2);
    color: var(--buttonPrimaryButtonFillDefault);
}
.btnWrap li:focus-within,
.btnWrap li:hover {
    outline: 2rem solid var(--textOnLight);
    box-shadow: 0 0 0 6rem var(--buttonPrimaryButtonFillDefault);
    transform: scale(1.04)
}
.btnWrap li:focus-within strong,
.btnWrap li:hover strong {
    color: var(--textOnDark)
}

