.StepIndicator {
    --indicatorGradient: linear-gradient(to right,  var(--iconsAndInputsSelected) 50%, rgb(102,102,102) 50% );
    position: relative;
}
.StepIndicator p {
    font: var(--Body1);
    color: var(--textOnDark);
    padding-bottom: 24rem;
}
.StepIndicator:after {
    content: '';
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--indicatorGradient);
}


